.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
}


.message-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.message-input {
    width: calc(100% - 90px);
}

.send-button {
    width: 80px;
}
