.chat-column {
    height: 100vh;
    background-color: #f0f0f0;
}

.contacts-column {
    height: 100vh;
    background-color: #1c214d;
}

.home-container h3 {
    font-size: 2rem;
    padding: 15px;
    color: #ffffff;
}

.select-contact-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-style: italic;
}

.logout-button{
    position: absolute;
    bottom: 2%;
}

.user-nickname-display {
    padding: 10px;
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 8px;
    display: inline-block; /* Adjust as needed */
    margin-bottom: 20px; /* Space below the user display */
}

.user-nickname {
    font-size: 1.2em; /* Larger text */
    color: #333; /* Dark grey color */
    margin: 0; /* Remove default margins */
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
