.chat-column {
    height: 100vh;
    background-color: #f0f0f0;
}

.contacts-column {
    height: 100vh;
    background-color: #1c214d;
}

.home-container h3 {
    font-size: 2rem;
    padding: 15px;
    color: #ffffff;
}

.select-contact-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-style: italic;
}

.logout-button{
    position: absolute;
    bottom: 2%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
